*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 730px;
}
header {
  height: 750px;
  padding-top: 50px;
  background-image: url('./img/BG1.jpeg');
  box-shadow:inset 0 0 0 2000px rgba(17, 17, 17, 0.3);
  background-size: cover;

}

.main, .main-nav{
  position: relative; 
}

.main-nav {
  background: rgba(57, 57, 58, 0.9);
  height: 70px;
  z-index: 150;
  margin-bottom: -80px;
  box-shadow: 0 2px 3px rgba(0,0,0,.4);
  text-align: center;
  word-spacing: 5em;
}

header,
.main-nav-scrolled {
  position: fixed;
  width: 100%;
  top: 0;
}
.main{
  padding-top: 70px;
}



.intro{
  display: inline-block;
  text-align: center;
  margin-top: 20%;
  margin-left: 36%;
  width: 30%;
  color: rgba(130,98,75, 0.8);
  text-shadow: 2px 1px #CFB8A8;
  font-weight: 100;
  background-position: center;
  background-color: rgba(70,41,23, 0.75);
}


/* Nav Bar */

nav li{
  display: inline-block;
  margin-right: 30px;
  padding-top: 5px;
  padding-left: 10px;
  font-size: 30px;
}

nav a{
  color: #e2ce8c;
}

nav a:visited{
    color:#b37700;
}


/*Button*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: rgba(226,206,140, 0.2);
  color: darkgrey;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}

/* First Page Intro*/

.intro h3{
  font-size: 35px;
  background-color: rgb(57,38,19, 0.5);
}

.intro h1{
  font-size: 50px;
  background-color: rgba(168, 171, 175, 0.5);
}

.box p{
  color: grey;
  font-size: 20px;
  word-wrap: break-word;
  padding-left: 30px;
  padding-right: 30px;
  word-spacing: 6px;
  line-height: 1.5em;

}
.box h2{
  padding-top: 30px;
  color: rgba(226,206,140, 0.75);
  font-size: 40px;
  font-weight: 100;
  padding-left: 30px;

}

.box hr{
  margin: 10px;
}


/* About */
* {
  box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */
.column1 {
  float: left;
  padding: 10px;
  height: 500px;
}

.column2 {
  float: left;
  padding: 10px;
  height: 400px;
}

.left1 {
width: 25%;
}

.right1 {
width: 75%;
}

.half{
  width:50%;
}

.quarter{
  width: 25%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Contact */

.reservation{
  background-image: url('./img/BG2.jpg');
  box-shadow:inset 0 0 0 2000px rgba(17, 17, 17, 0.6);
  background-size:cover;
  width: 100%;
  min-height: 600px;
}

.reservation h1{
  font-size: 45px;
  padding-top: 10%;
  text-decoration: underline;
  color:#d2a679;
  text-align: center;
}


.reservation p{
  font-size: 30px;
  color:rgb(163, 144, 124);
  word-wrap: break-word;
  padding-top: 30px;
  word-spacing: 6px;
  line-height: 1.7em;
  text-align: center
}
.reservation h3{
  font-size: 25px;
  text-align: center;
}



.pic img{
  width: 100%;
}


.row p{
  font-size: 25px;
  color: rgb(163, 144, 124);
  word-wrap: break-word;
  word-spacing: 6px;
  line-height: 1.7em;
  padding: 30px;
  text-align: center;
}

.row ul{
  font-size: 20px;
  color: rgb(163, 144, 124);
  word-wrap: break-word;
  padding-left: 30%;
  padding-right: 10%;
  word-spacing: 6px;

}

.row span{
  text-decoration: underline;
}
.row h2{
  font-size: 40px;
  color: #d2a679;
  word-wrap: break-word;
  padding-left: 35px;
  padding-right: 20px;
  word-spacing: 6px;
  text-align: center;
  text-decoration: underline;
  padding-top: 30px;
  font-weight: 100;
}


.up{
  float:right;
  text-decoration: none;
  font-size: 30px;
  color: rgb(54, 59, 63);
  background-color: rgba(168, 171, 175, 0.3);
  padding: 1px 10px;
  max-height: 30px;
  margin-right: 30px;
  border-radius: 40px;

}

.bottom{
  background-color:rgba(17, 17, 17);
  height: 30px;
}